EBO1/ebo_gpt/.env
EBO2/ebo_gpt/.env
EBO2/games_venv/
# Bloquear la basura estructural de la subcarpeta EBO2
/EBO2/src/
/EBO2/generated/
/EBO2/etc/

# Bloquear archivos de compilación en esa misma ruta
/EBO2/CMakeLists.txt
/EBO2/DoxyFile
/EBO2/README.md.new
# Ignorar carpetas de dependencias (pesan mucho)
node_modules/
bin/
obj/

# Ignorar archios temporales del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración personal o secretos
.env
*.log
dist/
# Editor de código
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.pyc

# Compilación y temporales
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
/EBO2/therapistPanel/CMakeFiles/
EBO2/therapistPanel/therapy_control/
*.csv

# Archivos de backup
*.bak

# Resultados y logs locales
EBO2/simonSay/resultados_juego.json
EBO2/ebo_gpt/conversaciones/
EBO2/storytelling/src/memoria/
EBO2/pasapalabra/resultados_pasapalabra.json


